.bg-image {
background-attachment: fixed;
height: 100vh;
  background-image: url("app/Images/cassette-background.jpg");
  background-size: cover;
}

/* How to put hover effect without changing button styling? */
#get-music-button{ 
font-family: 'Cabin Sketch', cursive;
font-size: 35px;
background-color: rgb(105, 253, 253);
color: rgb(253, 82, 158);
border: 2px solid rgb(253, 82, 158); 
height: 75px;
}
#get-music-button:hover {
  color: rgb(105, 253, 253);
  background-color: rgb(253, 82, 158);
}


/* Why input box text color won't change? */
.input-box {
font-family: 'Cabin Sketch', cursive;
font-size: 35px;
text-align: center;
color: rgb(253, 82, 158);
background-color: rgb(105, 253, 253);
border: 2px solid rgb(253, 82, 158);
margin-right: 20px;
height: 75px;
}
.input-box::placeholder {
  color: rgb(253, 82, 159);
}

.form-inline {
  margin-top: 10px;
  margin-left: 38px;
}

p {
font-family: 'Cabin Sketch', cursive;
font-size: 95px;
color: rgb(253, 82, 158);
margin-top: 38px;
margin-left: 40px;
}

.info {
  font-family: 'Cabin Sketch', cursive;
font-size: 15px;
color: rgb(168, 50, 103);
background-color: rgba(245, 58, 214, 0.267);
margin-bottom: 10px;
}

.info:hover {
  color: rgb(2, 2, 2);
transform: scale(1.02); 
background-color: rgba(230, 6, 242, 0.488);
}


.container {
  margin-top: 40px;
}

audio {
  margin-top:95px;
  float: right;
}

